* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.title {
    background-color: black;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.main {
    background-color: gray;
    display: flex;
    justify-content: space-around;
    height: 60%;
    width: 100%;
    align-items: center;
}

.input {
    padding: 1%;
    background-color: rgb(150, 146, 146);
    border: 3px solid gray;
    width: 40%;
    height: 80%;
    display: flex;
    border-radius: 5px;
}

.send {
    display: flex;
    justify-content: flex-end;
}

.output {
    padding: 1%;
    background-color: rgb(54, 53, 53);
    color: white;
    display: flex;
    height: 80%;
    width: 40%;
    border-radius: 5px;
}

.delete1 {
    background-color: black;
    color: white;
}

.delete2 {
    background-color: gray;
    color: white;
}

.footer {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 22%;
    width: 94%;
    /* border: 2px solid green; */
}

.footerTop {
    /* border: 2px solid tomato; */
    background-color: tomato;
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
}

.topRightFooter {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.topLeftFooter {
    width: 50%;
}

.footerBottom {
    width: 100%;
    height: 50%;
    background-color: red;
}

#table tr {
    /* ????????????? */
    display: flex;
    justify-content: space-between;
}

#table {
    /* ????????????? */
    width: 100%;
}

#table td {
    display: flex;
    justify-content: space-around;
}